.zendesk {
  background-color: #699101;
  color: white;
  &:hover { background-color: #5e8200; }
  &.new {
    background-color: #eed562;
    &:hover { background-color: #d6bf58; } 
  }
  &.solved, &.closed {
    background-color: #b4b4b4;
    &:hover { background-color: #a2a2a2; } 
  }
  &.open {
    background-color: #f17f7f;
    &:hover { background-color: #d87272; } 
  }
  &.pending {
    background-color: #9bd6ec;
    &:hover { background-color: #8bc0d4; } 
  }
  &.hold {
    background-color: #666;
    &:hover { background-color: #515151; }
  }
}